{% capture added_to_cart_link %}
  {% include 'icon', id: 'checkmark' %}
  {{ 'product.added_to_cart_link_html' | t }}
{% endcapture %}

{% assign gallery_position = section.settings.gallery_position_desktop %}
{% assign gallery_position_mobile = section.settings.gallery_position_mobile %}
{% assign gallery_layout = section.settings.gallery_layout %}

{% if section.settings.enable_menu_form %}
  {% assign enable_inline_form = false %}
{% else %}
  {% assign enable_inline_form = true %}
{% endif %}

{% comment %}
Standard layout is the full size, scrollable image list
Alternate layout is any of the thumbnail layouts
{% endcomment %}
{% assign layout = 'standard' %}
{% if gallery_layout contains 'thumbnails' %}
  {% assign layout = 'alternate' %}
{% endif %}

{% assign thumbnails_direction = 'vertical' %}
{% if gallery_layout contains 'bottom' %}
  {% assign thumbnails_direction = 'horizontal' %}
{% endif %}

<script
  type="application/json"
  data-section-type="static-product"
  data-section-id="{{ section.id }}"
  data-section-data>
  {
    "product": {{ product | json }},
    "selected_variant": {{ product.selected_variant | json }},
    "selected_or_first_available_variant": {{ product.selected_or_first_available_variant | json }},
    "money_format": {{ shop.money_format | json }},
    "form_is_inline": {{ enable_inline_form | json }},
    "enable_cart_redirection": {{ section.settings.enable_cart_redirection | json }},
    "use_history": true,
    "images_layout": {{ layout | json }},
    "thumbnails_direction": {{ thumbnails_direction | json }},
    "text": {
      "added_to_cart_link": {{ added_to_cart_link | json }},
      "product_available": {{ 'product.add_to_cart.available' | t | json }},
      "product_unavailable": {{ 'product.add_to_cart.unavailable' | t | json }}
    }
  }
</script>

{% if enable_inline_form %}
  <div class="product-alert">
    <div class="product-alert-content">
      <div class="product-alert-dismiss">{% include 'icon', id: 'close' %}</div>
      <div class="product-alert-message"></div>
    </div>
  </div>
{% endif %}

{% capture product_images %}
  {%
    include 'product-images',
    gallery_layout: gallery_layout,
    gallery_position: gallery_position,
    layout: layout,
  %}
{% endcapture %}

{% capture product_vendor_title_price %}
  {% if section.settings.show_product_vendor %}
    <h2 class="product-vendor">
      <a href="{{ product.vendor | url_for_vendor }}">{{ product.vendor }}</a>
    </h2>
  {% endif %}

  <h1 class="product-title">{{ product.title }}</h1>
 
{% endcapture %}

{% capture product_details %}
  <section class="product-details product-details-relative" data-product-details>
    
    <!--- product price --->
    {{ product_vendor_title_price }}
   
    
    <div id="ratingClick" class="rating" style="margin-bottom:15px;"><span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span></div>
    <div class="product-shortdesciption">
      
      
      {% assign productDescription = product.description | split:"<!-- split -->"%}
      
      {% if productDescription.size > 1 %}
               
              <div style="margin-bottom:15px;">
                {{ productDescription[0] }}
              </div>
      
      {% endif %}
      
    </div>
    <!---- Product Price -->
    {% include 'product-price' %}

    
    
    <!---- Unit Weight PRice -->
    <div class="unit-weight">
    Unit Weight:
	{{ variant.weight | weight_with_unit: variant.weight_unit }}
      <p>&nbsp;</p></div>
    
    {% case product.title %}
    
    
    	{% when 'Bali Healing HUB' %}
    	<div class="product-form-inline-atc">
          <h2 style="font-size:18px;">$350.00 USD</h2>
          <p style="margin-top:-10px;">per night (minimum 10 days)</p>
          <h3 class="m-sub-title">Bookings Are Currently Unavailable</h3>
    	</div>
    	
    	<style>
          .product-form-inline-atc {display:block !important;}
          .product-price {display:none !important;}
	    </style>
    
        {% else %}
    {% if enable_inline_form %}
      {%
        include 'product-form-inline',
        show_payment_button: section.settings.show_payment_button
      %}
    {% endif %}
    {% endcase %}
    <div>
      <img style="max-width:350px; width:100%;margin-top:5px;margin-bottom:20px;" src="https://cdn.shopify.com/s/files/1/2300/3895/files/shopify-image2.jpg">
    </div>
    
    
   
    {% include 'product-form-nojs' %}

    

    {% if section.settings.enable_social_sharing %}
      {% include 'share-buttons' %}
    {% endif %}


  </section>
{% endcapture %}

<div
  class="product-wrapper {% if product.images.size == 0 %}product-wrapper-no-images{% endif %}"
  data-product-wrapper
>
  {% if gallery_position_mobile == 'below_title' %}
    <div class="product-details-mobile">
      {{ product_vendor_title_price }}
    </div>
  {% endif %}

  {% if gallery_position == 'left' %}
    {{ product_images }}
    {{ product_details }}
  {% endif %}

  {% if gallery_position == 'right' %}
    {{ product_details }}
    {{ product_images }}
  {% endif %}
</div>


<div class="hts-product-details">
    <div>
        <ul class="tabs">
          <li><a href="#tab-1">Description</a></li>
          {% if productDescription.size > 2 %}
          <li><a href="#tab-2">Specification</a></li>
          {% endif %}
          
          <li><a href="#tab-3" id="myrev">Reviews</a></li>
         
        </ul>
        <div id="tab-1">
          
            {% if productDescription.size > 1 %}
               
              
                  {{ productDescription[1] }}
          
            {% else %}
           
                  {{ product.description }}
      
            {% endif %}
          
           
        </div>
      
        <div id="tab-2">
             {% if productDescription.size > 2 %}
          
                  {{ productDescription[2] }}
      
             {% endif %}
          
        </div>
      
      
        <div id="tab-3">
            
             <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
        </div>
        
    </div>
  
  
  
    
</div>

<style>
  
body .product-details{padding-bottom:10px;}  
#ratingClick{cursor:pointer;}
ul.tabs {
  border-bottom: 1px solid #DDDDDD;
  display: block;
  margin: 0 0 20px;
  padding: 0;
}
ul.tabs li {
  display: block;
  float: left;
  height: 45px;
  margin-bottom: 0;
  padding: 0;
  width: auto;
  
}
ul.tabs li a {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 #F5F5F5;
  border-color: #DDDDDD !important;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  display: block;
  font-size: 16px;
  height: 40px;
 
  margin: 0;
  padding: 8px 40px;
  text-decoration: none;
  width: auto;
  color: #303030;
  border-bottom:none !important;
}
ul.tabs li a.active {
  background: none repeat scroll 0 0 #FFFFFF;
  border-left-width: 1px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: #111111;
  height:45px;
  margin: 0 0 0 -1px;
  padding-top: 8px;
  position: relative;
  top: -4px;
}
ul.tabs li:first-child a.active {
  margin-left: 0;
}
ul.tabs li:first-child a {
  border-top-left-radius: 2px;
  border-width: 1px 1px 0;
}
ul.tabs li:last-child a {
  border-top-right-radius: 2px;
}
ul.tabs:before, ul.tabs:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
ul.tabs:after {
  clear: both;
}
  
  .hts-product-details{
     margin:30px 0px 30px 0px;
     
  }
  
  .col-container{display:flex;}
  .col-50{width:50%;margin-right:10px;}
  
  .tftable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #ececec;border-collapse: collapse;}
  .tftable th {font-size:12px;background-color:#eeeeeec7;border-width: 1px;padding: 8px;border-style: solid;border-color: #ececec;text-align:left;width:20%;}
  .tftable tr {background-color:#f2f2f242;}
  .tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #ececec;}
  .tftable tr:hover {background-color:#ffffff;}

  
  
  
  .video-element{max-width:650px;}
  
  @media only screen and (max-width:600px){
    ul.tabs li a{
        padding: 8px 25px !important;
    }
    .col-container{flex-direction:column;}
    .col-50{width:100%;}
  }
  
</style>


{% if enable_inline_form == false %}
  {%-
    include 'product-menu',
    show_payment_button: section.settings.show_payment_button
  -%}
{% endif %}

{% schema %}
{
  "name": "Product pages new",
  "class": "section-product-new",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_menu_form",
      "label": "Enable bottom menu",
      "default": false,
      "info": "Displays product options and breadcrumbs in a sticky bottom menu."
    },
    {
      "id": "show_product_vendor",
      "type": "checkbox",
      "label": "Show product vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_cart_redirection",
      "label": "Enable cart redirection",
      "info": "Automatically sends users to the Cart page after adding a product.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": true
    },
    {
      "type": "header",
      "content": "Product gallery"
    },
    {
      "type": "select",
      "id": "gallery_layout",
      "options": [
         { "value": "slideshow_thumbnails_bottom", "label": "Slideshow thumbnails bottom" },
         { "value": "slideshow_thumbnails_left", "label": "Slideshow thumbnails left" },
         { "value": "slideshow_thumbnails_right", "label": "Slideshow thumbnails right" },
         { "value": "single_column", "label": "List view" }
      ],
      "label": "Desktop layout",
      "default": "single_column"
    },
    {
      "type": "select",
      "id": "gallery_position_desktop",
      "options": [
         { "value": "left", "label": "Left" },
         { "value": "right", "label": "Right" }
      ],
      "label": "Desktop position",
      "default": "left"
    },
    {
      "type": "select",
      "id": "gallery_position_mobile",
      "options": [
         { "value": "below_title", "label": "Below title" },
         { "value": "above_title", "label": "Above title" }
      ],
      "label": "Tablet & mobile position",
      "default": "above_title"
    },
    {
      "type": "header",
      "content": "Sharing"
    },
    {
      "type": "checkbox",
      "id": "enable_social_sharing",
      "label": "Enable social sharing",
      "default": false
    }
  ]
}

{% endschema %}

<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script>
   $(document).ready(function() {
     
     
    $('ul.tabs').each(function(){
      var active, content, links = $(this).find('a');
      active = links.first().addClass('active');
      content = $(active.attr('href'));
      links.not(':first').each(function () {
        $($(this).attr('href')).hide();
      });
      $(this).find('a').click(function(e){
        active.removeClass('active');
        content.hide();
        active = $(this);
        content = $($(this).attr('href'));
        active.addClass('active');
        content.show();
        return false;
      });
    });
  });
  
  $(document).ready(function() { 
        $("#ratingClick").click(function(){
      
              console.log('test');
              $('html, body').animate({scrollTop: $("div.hts-product-details").offset().top}, 1000);
          
              $("#myrev").click(); 
        });
  });
</script>
{% unless product == empty %}
 <script type="application/json" class="wcp_json wcp_json_{{ product.id }}" id="wcp_json_{{ product.id }}" > 
   {% include 'wcp_product_json' with product %}
</script>
{% endunless %}