{%- comment %}<locksmith:1f77>{% endcomment -%}
  {%- include 'locksmith', locksmith_context: 'layout/start' %}{% capture locksmith_source -%}
{%- comment %}</locksmith:1f77>{% endcomment -%}

<!doctype html>
<!--[if IE 9]><html class="ie9 no-js"><![endif]-->
<!--[if !IE]><!--><html class="no-js"><!--<![endif]-->
  <head> 
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148028679-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-148028679-2');
</script>
    <meta charset="utf-8">
    <title>
      {{- page_title -}}

      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' %}
        {{ 'title.tags' | t: tags: meta_tags -}}
      {%- endif -%}

      {%- if current_page != 1 -%}
        {{- 'title.page' | t: page: current_page -}}
      {%- endif -%} 

      {%- unless page_title contains shop.name -%}
        {{- 'title.shop' | t: shop: shop.name -}}
      {%- endunless -%}
    </title>
	
    {% if page_description != blank %}
      {%- comment %}<locksmith:87b6>{% endcomment -%}
        {% include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta name="description" content="{{ page_description | escape }}">{% endif %}
        {%- comment %}original: <meta name="description" content="{{ page_description | escape }}">{%- endcomment %}
      {%- comment %}</locksmith:87b6>{% endcomment -%}
    {% endif %}

    {% if settings.favicon != blank %}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {% endif %}

    {%- include 'open-graph' -%}
    {%- include 'twitter-card' -%}

    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width">

    {{ content_for_header }}

  {% include 'bold-common' %}
  

    <script>
      document.documentElement.className=document.documentElement.className.replace(/\bno-js\b/,'js');
      if(window.Shopify&&window.Shopify.designMode)document.documentElement.className+=' in-theme-editor';
    </script>

    {% include 'google-fonts', fonts: 'font_title|font_body|font_label' %}
    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
    {{ 'custom.scss.css' | asset_url | stylesheet_tag }}
    <!-- Proof | useproof.com -->
    <script id=proof-script>!function(){function b(){var a=(new Date).getTime(),b=document.createElement('script');b.type='text/javascript',b.async=!0,b.src='https://cdn.getmoreproof.com/embed/latest/proof.js?'+a;var c=document.getElementsByTagName('script')[0];c.parentNode.insertBefore(b,c)}var a=window;a.attachEvent?a.attachEvent('onload',b):a.addEventListener('load',b,!1),window.proof_config={acc:'ZMdJ3NTRoDdMwqcrBtQLYO1T9eR2', v:'1.1'}}()</script>
	<!-- End Proof -->  {% include 'minmaxify-head' %}
    
    <!-- Global site tag (gtag.js) - Google Ads: 803943226 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-803943226"></script>
    <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-803943226'); </script>
    


  {% render 'shogun-head' %}

</head>

  <body>
    {% if template contains 'password' %}
      <main class="site-main">
        {{ content_for_layout }}
      </main>
    {% else %}
      {% section 'static-header' %}
      {% section 'static-meganav' %}
      {% section 'static-contactbar' %}

      <main class="site-main">
        {{ content_for_layout }}
      </main>

      {% section 'site-footer' %}
    {% endif %}

    {%- if template contains 'cart' -%}
      {{ '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js' | script_tag }}
      {{ '/services/javascripts/countries.js' | script_tag }}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {%- endif -%}

    {%- if template contains 'customer' -%}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
      {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
    {%- endif -%}

    <script src="{{ 'handy.js' | asset_url }}"
      data-scripts
      data-shopify-api-url="{{ 'api.jquery.js' | shopify_asset_url }}"
      data-shopify-cart-url="{{ 'jquery.cart.js' | asset_url }}"
      data-shopify-currencies="//cdn.shopify.com/s/javascripts/currencies.js"
      data-shopify-jquery-currencies="{{ 'jquery.currencies.min.js' | asset_url }}"
      data-shopify-qrcode="{{ 'vendor/qrcode.js' | shopify_asset_url }}"
    ></script>

  {% include 'structured-data' %}
   <!-- 
  {% include 'sweettooth-initializer' %}
  {% include 'sweettooth-tab-widget' %}
	-->
    



    

{%- include 'bold-currency-converter' -%}
    <script src="//cdn.codeblackbelt.com/js/modules/also-bought/main.min.js?shop=healthyselfstore.myshopify.com"></script>
</body>
</html>

{%- comment %}<locksmith:e9fc>{% endcomment -%}
  {%- endcapture %}{% include 'locksmith', locksmith_context: 'layout/end' -%}
{%- comment %}</locksmith:e9fc>{% endcomment -%}